* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
}

body * {
  border: 1px solid black;
}

.sidebar {
  background-color: #1992d4;
  grid-area: 1/1/3/1;
  display: grid;
  grid-template-rows: 1fr 4fr 5fr;
}

.logo {
}

.pages1 {
}

.pages2 {
}

.nav {
  background-color: #ffffff;
  grid-area: 1/2/2/3;
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: 1fr 1fr;
}

.search {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.profile {
  display: grid;
  grid-template-columns: 4fr 2fr 5fr;
}

.info {
  display: grid;
  grid-template-columns: 2fr 8fr;
}

.options {
  display: grid;
  grid-template-columns: 2fr 2fr 3fr;
}

.content {
  background-color: #e2e8f0;
  grid-area: 2/2/3/3;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
}

.projects .cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* justify-content: right; */
  /* height: 100%; */
  gap: 10px;
  padding: 10px;
}

.current {
  display: grid;
}

.announcements {

}

.announcements .card {
  padding: 10px;
  place-self: center;
}

.trending {

}

.trending .card {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 4fr;
  padding: 10px;
  place-self: center;
}
